/* base style */
html {
  overflow-y: scroll;
}

body {
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #000;
  background-color: #F4F4F4;
}
body.lock {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 15px;
}
@media (max-width: 1170px) {
  .container {
    max-width: 840px;
  }
}
@media (max-width: 839px) {
  .container {
    max-width: 600px;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main {
  width: 870px;
}

.sidebar {
  width: 270px;
  min-width: 210px;
  margin-left: 30px;
}
@media (max-width: 1170px) {
  .sidebar {
    margin-left: 20px;
  }
}
@media (max-width: 839px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    margin-left: 0;
    padding: 60px 15px 20px;
    background-color: #ffffff;
    border-right: 1px solid #e6e6e6;
    -webkit-box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.2);
            box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    overflow-y: scroll;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .sidebar.sidebar--open {
    left: 0;
    opacity: 1;
  }
}

.sidebar-button {
  display: none;
}
@media (max-width: 839px) {
  .sidebar-button {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 36px;
    height: 36px;
    background-color: transparent;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
.sidebar-button img {
  width: 100%;
  height: 100%;
}

/* cards */
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 599px) {
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card {
  position: relative;
  display: block;
  width: 270px;
  margin-bottom: 30px;
  color: inherit;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.card:not(:nth-child(3)) {
  margin-right: 20px;
}
@media (any-hover: hover) {
  .card:hover {
    opacity: 0.8;
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}
@media (max-width: 1170px) {
  .card:not(:nth-child(2)) {
    margin-right: 20px;
  }
}
@media (max-width: 839px) {
  .card:not(:nth-child(2)) {
    margin-right: 10px;
  }
}
@media (max-width: 599px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}
.card__header {
  position: absolute;
  top: 10px;
  left: 15px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card__header *:not(:last-child) {
  margin-right: 10px;
}
.card__sticker {
  height: 22px;
  padding: 3px 10px;
  border-radius: 4px;
  line-height: 1.14;
  background-color: green;
}
.card__sticker--class {
  background-color: #FFCF26;
}
.card__sticker--credit {
  color: #fff;
  background-color: #11BE75;
}
.card__image img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 599px) {
  .card__image img {
    height: 240px;
  }
}
@media (max-width: 399px) {
  .card__image img {
    height: 200px;
  }
}
.card__content {
  padding: 15px 15px 20px 15px;
}
.card__content *:not(:last-child) {
  margin-bottom: 10px;
}
.card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
}
.card__term {
  line-height: 1.14;
}
.card__metro {
  position: relative;
  line-height: 1.14;
}
.card__metro::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 11px;
  margin-right: 10px;
  background-image: url(../images/icons/metro.svg);
  background-repeat: no-repeat;
}
.card__address {
  line-height: 1.14;
  color: #777777;
}

/* btn-more */
.btn-more {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  background-color: #E5E5E5;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  display: none;
}
@media (any-hover: hover) {
  .btn-more:hover {
    background-color: #d8d8d8;
  }
}
.btn-more__icon {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
.btn-more__text {
  font-size: 18px;
  line-height: 1.16;
  color: #4290C9;
}

/* widget */
.widget:not(:last-child) {
  margin-bottom: 30px;
}
.widget__title {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  cursor: pointer;
}
.widget__title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-image: url(../images/icons/chevron-up.svg);
  background-repeat: no-repeat;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.widget__title.widget__title--show::after {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.widget__body {
  display: block;
  margin-top: 20px;
}
.widget__body.widget__body--show {
  display: none;
}

/* location */
.location__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  border: 1px solid #D6D6D6;
}
.location__row:first-child {
  border-radius: 4px 4px 0px 0px;
}
.location__row:last-child {
  border-top: none;
  border-radius: 0px 0px 4px 4px;
}
.location__checkbox {
  position: absolute;
  z-index: -1;
  width: 1px;
  height: 1px;
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.location__checkbox:checked + .location__btn {
  background-color: #FFCF26;
}
@media (any-hover: hover) {
  .location__checkbox:checked + .location__btn:hover {
    background-color: #e1b100;
  }
}
.location__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 100%;
  font-weight: 500;
  line-height: 1.14;
  text-align: center;
  color: #3C3C3C;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
@media (any-hover: hover) {
  .location__btn:hover {
    background-color: #ffe37d;
  }
}
.location__btn--all {
  font-size: 16px;
  line-height: 1.16;
}

/* radio */
.radio {
  display: block;
}
.radio:not(:last-child) {
  margin-bottom: 15px;
}
.radio__btn-hide {
  position: absolute;
  z-index: -1;
  width: 1px;
  height: 1px;
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.radio__btn-hide:checked + .radio__btn {
  font-weight: 700;
}
.radio__btn-hide:checked + .radio__btn::before {
  background: #FFE074;
}
.radio__btn-hide:checked + .radio__btn::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  background: #3C3C3C;
  border-radius: 50%;
}
.radio__btn {
  position: relative;
  padding-left: 30px;
  font-size: 16px;
  line-height: 1.16;
  color: #3C3C3C;
  cursor: pointer;
}
.radio__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #777777;
  border-radius: 50%;
  background: transparent;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
@media (any-hover: hover) {
  .radio__btn:hover::before {
    background-color: #e7e7e7;
  }
}

/* checkbox */
.checkbox {
  display: block;
}
.checkbox:not(:last-child) {
  margin-bottom: 15px;
}
.checkbox__btn-hide {
  position: absolute;
  z-index: -1;
  width: 1px;
  height: 1px;
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.checkbox__btn-hide:checked + .checkbox__btn {
  font-weight: 500;
}
.checkbox__btn-hide:checked + .checkbox__btn::before {
  background: #FFE074;
}
.checkbox__btn-hide:checked + .checkbox__btn::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  background-image: url(../images/icons/check.svg);
  background-repeat: no-repeat;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.checkbox__btn {
  position: relative;
  padding-left: 30px;
  font-size: 16px;
  line-height: 1.16;
  color: #3C3C3C;
  cursor: pointer;
}
.checkbox__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #777777;
  border-radius: 2px;
  background: transparent;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
@media (any-hover: hover) {
  .checkbox__btn:hover::before {
    background-color: #e7e7e7;
  }
  .checkbox__btn:hover::after {
    background-color: #f4d977;
  }
}
.checkbox__btn-more {
  font-size: 16px;
  line-height: 1.16;
  color: #4290C9;
  background-color: transparent;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
@media (any-hover: hover) {
  .checkbox__btn-more:hover {
    color: #005da0;
  }
}

/* credit */
.credit {
  display: block;
}
.credit__btn-hide {
  position: absolute;
  z-index: -1;
  width: 1px;
  height: 1px;
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.credit__btn-hide:checked + .credit__btn-toggle {
  font-weight: 500;
}
.credit__btn-hide:checked + .credit__btn-toggle::before {
  background-color: #FFE074;
}
.credit__btn-hide:checked + .credit__btn-toggle::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 18px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #3C3C3C;
}
.credit__btn-toggle {
  position: relative;
  padding-left: 47px;
  font-size: 16px;
  line-height: 1.16;
  color: #3C3C3C;
  cursor: pointer;
}
.credit__btn-toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 37px;
  height: 20px;
  border-radius: 10px;
  background-color: #C4C4C4;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.credit__btn-toggle::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #3C3C3C;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* form-btn-group */
.form__btn-group > *:not(:last-child) {
  margin-bottom: 10px;
}
.form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50px;
  font-size: 16px;
  line-height: 1.16;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.form__btn--submit {
  background-color: #FFCF26;
}
@media (any-hover: hover) {
  .form__btn--submit:hover {
    background-color: #fedd65;
  }
}
.form__btn--reset {
  color: #3C3C3C;
  border: 1px solid #D6D6D6;
  background-color: transparent;
}
@media (any-hover: hover) {
  .form__btn--reset:hover {
    background-color: #e6e6e6;
  }
}
.form__btn-icon {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}

/* modal */
.modal {
  position: fixed;
  z-index: 99;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.modal__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1000px;
  height: 440px;
  padding: 20px;
  background-color: #F4F4F4;
  border-radius: 2px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
@media (max-width: 1030px) {
  .modal__content {
    width: 800px;
  }
}
@media (max-width: 839px) {
  .modal__content {
    display: block;
    width: 90%;
    height: 90%;
    overflow: auto;
  }
}
.modal__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
}
.modal__close-btn img {
  width: 100%;
  height: 100%;
}
@media (max-width: 839px) {
  .modal__close-btn {
    width: 20px;
    height: 20px;
  }
}
.modal__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.modal__image img {
  width: 100%;
  height: 380px;
  border-radius: 2px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 839px) {
  .modal__image {
    text-align: center;
  }
  .modal__image img {
    width: 95%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 500px) {
  .modal__image img {
    height: 200px;
  }
}
.modal__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-left: 20px;
}
@media (max-width: 839px) {
  .modal__info {
    margin-left: 0;
    margin-top: 15px;
  }
}
.modal__title {
  margin-bottom: 15px;
  font-size: 22px;
  text-align: center;
}
.modal__title span {
  color: green;
}
@media (max-width: 1030.98px) {
  .modal__title {
    font-size: 18px;
  }
}
.modal__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
}
@media (max-width: 1030.98px) {
  .modal__info-item {
    font-size: 14px;
  }
}
.modal__info-item:not(:last-child) {
  padding-bottom: 6px;
  margin-bottom: 7px;
  border-bottom: 1px dashed #777777;
}
.modal__info-subtitle {
  color: #777777;
}
.modal__info-value {
  color: #0f0f0f;
}
.modal__info-value--metro {
  position: relative;
}
.modal__info-value--metro::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 11px;
  margin-right: 10px;
  background-image: url(../images/icons/metro.svg);
  background-repeat: no-repeat;
}
.modal.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.modal.active > .modal__content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* message */
.message {
  width: 100%;
  padding: 20px 0;
  font-size: 18px;
  color: #4290C9;
  text-align: center;
}